doctype html
html
  head
    title QRCODEX - #{title}
    link(rel='stylesheet', href='/lib/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    block content
    script(src="/lib/jquery-1.11.2.js")
    script(src="/lib/materialize/js/materialize.min.js")