extends layout

block content
  ul#my_fav_page.container
    h5 我的收藏
    - each ques in myFavJSON
      li 
        div.card-panel(ques_id=ques.objectId ques_index=ques.number)
          div.flow-text
            span #{ques.number}
            span . 
            span #{ques.content}
          div.divider
          div.flow-text
            span 答案
            span . 
            span #{ques.answer}
          div.divider
          div.paperBtns(status='logged_in')
            a.btn.collectBtn.BtnActive 已收藏
            - if (inArray(ques.objectId, user.myReview) == 1)
                a.btn.reviewBtn.BtnActive 点评(+1)
            - else
                a.btn.reviewBtn 点评
