* {
  margin: 0;
  padding: 0;
}

.title-add-container .s6 .input-field h4 {
  display: inline-block;
  margin-right: 20px;
}

.title-add-container .s6 .input-field input {
  display: inline-block;
  margin-right: 10px;
  width: 30%
}

.flash_tips {
  width: 60%;
  font-size: 35px;
  text-align: center;
  z-index: -1;
  margin: 0 auto;
}
.flash_tips_success {
  background-color: rgb(73, 244, 73);
}
.flash_tips_error {
  background-color: rgb(245, 62, 62);
}

.title-add-container {
  width: 100%;
}

#add-question {
  margin-right: 10px;
}

#bottom-button-bar {
  margin: 30px;
}