* {
  margin: 0;
  padding: 0;
}

.showing {
  color: #26a69a !important;
}

.hidden {
  display: none !important;
}

.left.side-nav {
  margin-left: 5px;
}
.right.side-nav {
  margin-right: 5px;
}
.flash_tips {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9;
}
.flash_tips_success {
  background-color: rgb(73, 244, 73);
}
.flash_tips_error {
  background-color: rgb(245, 62, 62);
}

#layout_title {
  margin-left: 25px;
}

#paperNav p {
  color: white;
  font-size: 16px;
}

#paperNav li {
  border-bottom: 1px solid grey;
}

#userInfo {
  color: white;
  overflow: auto;
}

#userInfo li {
  border-bottom: 1px solid grey;
}
#userInfo li a {
  color: white;
  font-size: 16px;
}
#userInfo li i {
  margin-right: 50px;
  float: left;
}
.flash_tips_animate {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9;
  transition: transform 1s;
  transform: translate(0px, -40px);
  -o-transition: -o-transform 1s;
  -o-transform: translate(0px, -40px);
  -ms-transition: -ms-transform 1s;
  -ms-transform: translate(0px, -40px);
  -moz-transition: -moz-transform 1s;
  -moz-transform: translate(0px, -40px);
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: translate(0px, -40px)
}