* {
  margin: 0;
  padding: 0;
}
.showing {
  color: #26a69a !important;
}
.hidden {
  display: none !important;
}
.left.side-nav {
  margin-left: 5px;
}
.right.side-nav {
  margin-right: 5px;
}
.flash_tips {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9;
}
.flash_tips_success {
  background-color: #49f449;
}
.flash_tips_error {
  background-color: #f53e3e;
}
#layout_title {
  margin-left: 25px;
}
#paperNav p {
  color: white;
  font-size: 16px;
}
#paperNav li {
  border-bottom: 1px solid grey;
}
#userInfo {
  color: white;
  overflow: auto;
}
#userInfo li {
  border-bottom: 1px solid grey;
}
#userInfo li a {
  color: white;
  font-size: 16px;
}
#userInfo li i {
  margin-right: 50px;
  float: left;
}
.flash_tips_animate {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 9;
  transition: transform 1s;
  transform: translate(0px, -40px);
  -o-transition: -o-transform 1s;
  -o-transform: translate(0px, -40px);
  -ms-transition: -ms-transform 1s;
  -ms-transform: translate(0px, -40px);
  -moz-transition: -moz-transform 1s;
  -moz-transform: translate(0px, -40px);
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: translate(0px, -40px);
}

#my_fav_page .card-panel a {
  margin-top: 10px;
  margin-right: 5px;
  background-color: white;
  color: black;
  padding: 0px 1rem;
}

#my_review_page .card-panel a {
  margin-top: 10px;
  margin-right: 5px;
  background-color: white;
  color: black;
  padding: 0px 1rem;
}

.card-panel {
  padding: 1rem;
  z-index: 0;
}
#paper_page .card-panel a {
  margin-top: 10px;
  margin-right: 5px;
  background-color: white;
  color: black;
  padding: 0px 1rem;
}
.container {
  padding: 6px;
}
#paper_page .divider {
  height: 5px;
  overflow: hidden;
  background-color: white;
}
.BtnActive {
  background-color: #26a69a !important;
}
.paperBtns {
  border-top: 1px solid grey;
}
.listening-card audio {
  width: 100%;
}
.listening-card {
  border-top: 1px solid grey;
  padding-top: 10px;
}

#signin_form {
  padding: 10px;
}
#signin_form input {
  border-bottom: 1px solid white;
  padding: 15px;
}
#signin_btn {
  width: 80%;
  margin-left: 20px;
}
