#pic_form {
  padding: 10px !important;
  margin-top: 20px;
}
#pic_form h6 {
  font-weight: bold;
}
#edit_pic_input {
  height: 0px;
  width: 0px;
  position: fixed;
}
.user_pics {
  width: 80px;
  height: 80px;
  margin: auto 5px;
}
.user_pics_girl {
  margin-top: 15px;
}
.user_pics_boy {
  margin-top: 15px;
}
.user_pics_img {
  cursor: pointer;
  padding: 2px;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  margin: 10px auto;
}
.user_pics_active {
  cursor: pointer;
  padding: 2px;
  width: 100%;
  height: 100%;
  border: 4px solid #ee6e73;
  margin: 10px auto;
}
#edit_pic_btn {
  width: 100%;
}
#edit_pic_btns {
  margin-top: 20px;
}

#edit_form {
  padding: 10px !important;
}
#edit_form .input-field input {
  font-size: 1.1em;
}
#edit_btn {
  width: 100%;
}
#edit_btns {
  margin-top: 20px;
}
#edit_phone_number {
  color: grey;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}
a {
  color: #00B7FF;
}
.left.side-nav {
  margin-left: 5px;
}
.right.side-nav {
  margin-right: 5px;
}
.flash_tips {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: -1;
}
.flash_tips_success {
  background-color: #49f449;
}
.flash_tips_error {
  background-color: #f53e3e;
}
#content {
  margin: 0 5px 0 5px;
}
#layout_title {
  margin-left: 25px;
}
#userSignup {
  color: white;
  overflow: auto;
}
#userSignup li a p {
  color: white;
  font-size: 18px;
}
#userSignup li {
  border-bottom: 1px solid grey;
}
#userSignup li i {
  margin-right: 50px;
  float: left;
}
#userInfo {
  color: white;
  overflow: auto;
}
#userImg {
  padding: 10px;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}
#userImg img {
  padding: 2px;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
}
#userInfo li {
  border-bottom: 1px solid grey;
}
#userInfo li a {
  color: white;
  font-size: 18px;
}
#userInfo li i {
  margin-right: 50px;
  float: left;
}
.flash_tips_animate {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: -1;
  transition: transform 1s;
  transform: translate(0px, -40px);
  -o-transition: -o-transform 1s;
  -o-transform: translate(0px, -40px);
  -ms-transition: -ms-transform 1s;
  -ms-transform: translate(0px, -40px);
  -moz-transition: -moz-transform 1s;
  -moz-transform: translate(0px, -40px);
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: translate(0px, -40px);
}

#sigin_form {
  padding: 10px;
}
#get_verify_code {
  margin-left: 41px;
}
#signin_btn {
  width: 100%;
}
.go_back {
  width: 100%;
}
#signin_btns {
  margin-top: 100px;
}

#signup_form {
  padding: 10px !important;
}
#signup_btn {
  width: 100%;
}
#signup_btns {
  margin-top: 20px;
}
