* {
  margin: 0;
  padding: 0;
}
.left.side-nav {
  margin-left: 5px;
}
.right.side-nav {
  margin-right: 5px;
}
.flash_tips {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: -1;
}
.flash_tips_success {
  background-color: #49f449;
}
.flash_tips_error {
  background-color: #f53e3e;
}
#layout_title {
  margin-left: 25px;
}
#userInfo {
  color: white;
  overflow: auto;
}
#userInfo li {
  border-bottom: 1px solid grey;
}
#userInfo li a {
  color: white;
  font-size: 16px;
}
#userInfo li i {
  margin-right: 50px;
  float: left;
}
.flash_tips_animate {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: -1;
  transition: transform 1s;
  transform: translate(0px, -40px);
  -o-transition: -o-transform 1s;
  -o-transform: translate(0px, -40px);
  -ms-transition: -ms-transform 1s;
  -ms-transform: translate(0px, -40px);
  -moz-transition: -moz-transform 1s;
  -moz-transform: translate(0px, -40px);
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: translate(0px, -40px);
}

#signin_form {
  padding: 10px;
}
#signin_form input {
  border-bottom: 1px solid white;
  padding: 15px;
}
#signin_btn {
  width: 80%;
  margin-left: 20px;
}
